@font-face {
    font-family: GameFont;
    src: url("../fonts/PressStart2P.ttf");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: GameFont;
    color: white;
    font-size: 1.1em;
    user-select: none;
}

.all {
    width: 100vw;
    height: 100vh;
    background-color: #131313;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.game {
    width: 80%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.gameStuff {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    gap: 20px;
    line-height: 45px;
}

.gameObjects {
    line-height: 45px;
}

.gameCarry {
    line-height: 45px;
}

.vocabulary {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.gossip {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.gameImage {
    width: 1024px;
    height: 320px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.imgGame {
    width: 50%;
    height: 100%;
    border: 2px solid white;
}

.compassDiv {
    position: relative;
    width: 30%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.imgCompass {
    width: 100%;
}

.gameInput {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.gameInputText {
    max-width: 50%;
}

input[type="text"]:focus {
    outline: none;

}

.northBlock {
    display: none;
    width: 25px;
    height: 25px;
    position: absolute;
    background-color: #131313;
    top: 24.5%;
    left: 43%;
}

.southBlock {
    display: none;
    width: 25px;
    height: 25px;
    position: absolute;
    background-color: #131313;
    top: 66%;
    left: 45%;
}

.westBlock {
    display: none;
    width: 25px;
    height: 25px;
    position: absolute;
    background-color: #131313;
    top: 37.2%;
    left: 3%;
}

.eastBlock {
    display: none;
    width: 25px;
    height: 25px;
    position: absolute;
    background-color: #131313;
    top: 37.2%;
    left: 88%;
}

input {
    all: unset;
    caret-color: white;
    color: white;
    margin-top: auto;
}

.startingImages {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}

.imageStart {
    width: aut0;
    height: 100%;
}

.h1Start {
    position: absolute;
    left: 50%;
    bottom: 1%;
    margin-left: -20%;
}